.women-category h2 {
    font-family: var(--font);
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 80px;
    text-transform: capitalize;
}

.products-layout {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.product-div {
    position: relative;
}

.product-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 378px;
    background-color: var(--c-white);
    padding: 10px;
    margin: 0 0 80px 0;
    cursor: pointer;
}

.display {
    display: none;
}

.outofstock {
    background: var(--c-white);
    opacity: 0.5;
}

.stock-text-div {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.stock-text {
    font-weight: 400;
    font-size: 24px;
    color: var(--c-faded);
}

.product-card:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-div:hover .cart-icon {
    display: block;
}

.product-img {
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.product-info p {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 5px;
}

.product-info h6 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
}

.add-to-cart {
    position: absolute;
    left: 75%;
    bottom: 25%;
    z-index: 2;
    cursor: pointer;
}

.cart-icon {
    display: none;
}

.nomouse {
    cursor: not-allowed;
}

.add-to-cart:hover {
    transition: 0.3s ease;
    transform: scale(1.05);
}

.loader-div {
    display: block;
    margin: 0 auto;
}

@media (max-width: 769px) {
    .products-layout {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 427px) {
    .products-layout {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 322px) {
    .stock-text {
        right: -25%;
    }

    .product-card img {
        object-fit: contain;
    }
}