.alert {
    position: absolute;
    right: 0;
    top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    background-color: rgb(180, 227, 113);
    padding: 10px; 
    opacity: 0;
}
.showAlert{
    opacity: 1;
    pointer-events: auto;
    animation: show_alert 1s ease forwards;
}

@keyframes show_alert {
  0%{
    transform: translateY(100%);
  }
  40%{
    transform: translateY(-10%);
  }
  80%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-10px);
  }
}

.hide{
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}