.category-page-layout > section:first-child {
    width: 100%;
    height: 80px;
    max-width: 1300px;
    /* margin: 0 auto; */
    /* position: fixed;
    top: 0; */
    background-color: var(--c-white);
    /* z-index: 100; */
}

.category-page-layout > section:last-child {
    width: 80%;
    max-width: 1300px;
    margin: 0 auto;
}

/*scroll bar*/
::-webkit-scrollbar {
   width: 7px;
}

::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px white;
   border-radius: 10px;
   border-top: 2px solid grey;
   border-bottom: 2px solid grey;
}

::-webkit-scrollbar-thumb {
   background: grey;
   border-radius: 10px;
}