* {
	box-sizing: border-box;
}

a {
	color: inherit !important;
	text-decoration: none !important;
}

:root {
  --c-primary: #5ECE7B;
  --c-text:#1D1F22;  
  --c-white: #FFFFFF;
  --c-faded: #8D8F9A;
  --c-border:#E5E5E5;
  --c-hover:#EEEEEE;
	--font: "Raleway", sans-serif;
  --font2: "Roboto Condensed", sans-serif;
}

html h1,
h2,
h3,
h4,
h5,
h6,
span,
label,
p {
	font-family: var(--font);
}